soc_production.json.json
{
  "name": "SOC 終極三層聯防工作流 (完美邏輯版)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-start",
      "name": "手動觸發測試",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "My ID is A123456789. What is machine learning?"
            }
          ]
        },
        "options": {}
      },
      "id": "set-input",
      "name": "模擬前端輸入",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/route",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"{{ $json.text }}\",\n  \"audit\": true\n}",
        "options": {}
      },
      "id": "api-guardrail",
      "name": "1_去識別化Guardrail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-block",
              "leftValue": "={{ $json.fallback_action }}",
              "rightValue": "BLOCK",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-guardrail",
      "name": "檢查Guardrail放行",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11435/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"tsungchun_defense\",\n  \"prompt\": \"Analyze the prompt and output JSON only.\\n\\n{{ $json.anonymized }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "api-intent",
      "name": "2_意圖防禦微調大腦",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 100]
    },
    {
      "parameters": {
        "jsCode": "try {\n  let rawStr = $input.all()[0].json.response;\n  let startIndex = rawStr.indexOf('{');\n  let endIndex = rawStr.lastIndexOf('}');\n  let cleanJsonStr = rawStr.substring(startIndex, endIndex + 1);\n  let parsed = JSON.parse(cleanJsonStr);\n  return { json: { ...$input.all()[0].json, ai_intent: parsed } };\n} catch (e) {\n  return { json: { ai_intent: { is_attack: false, error: '解析失敗' } } };\n}"
      },
      "id": "parse-intent",
      "name": "解析JSON結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-attack",
              "leftValue": "={{ $json.ai_intent.is_attack }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-intent",
      "name": "檢查是否無惡意",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1380, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"instruction\": \"請根據提供的網路流量數據進行風險評估與異常意圖分析\",\n  \"input_data\": \"{{ $('1_去識別化Guardrail').item.json.anonymized }}\"\n}",
        "options": {}
      },
      "id": "api-anomaly",
      "name": "3_異常偵測大腦",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-anomaly",
              "leftValue": "={{ $json.is_anomaly }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-anomaly",
      "name": "檢查是否無異常",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1860, 0]
    },
    {
      "parameters": {},
      "id": "block-end",
      "name": "執行攔截_Block",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1860, 400]
    },
    {
      "parameters": {},
      "id": "pass-end",
      "name": "正常放行_Pass",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2140, 0]
    }
  ],
  "connections": {
    "手動觸發測試": {
      "main": [
        [
          {
            "node": "模擬前端輸入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "模擬前端輸入": {
      "main": [
        [
          {
            "node": "1_去識別化Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1_去識別化Guardrail": {
      "main": [
        [
          {
            "node": "檢查Guardrail放行",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查Guardrail放行": {
      "main": [
        [
          {
            "node": "2_意圖防禦微調大腦",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "執行攔截_Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2_意圖防禦微調大腦": {
      "main": [
        [
          {
            "node": "解析JSON結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析JSON結果": {
      "main": [
        [
          {
            "node": "檢查是否無惡意",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查是否無惡意": {
      "main": [
        [
          {
            "node": "3_異常偵測大腦",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "執行攔截_Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3_異常偵測大腦": {
      "main": [
        [
          {
            "node": "檢查是否無異常",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查是否無異常": {
      "main": [
        [
          {
            "node": "正常放行_Pass",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "執行攔截_Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}